{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			
	<div class="entry-content">
		<h1 class="entry-title">Posts</h1>
<br>
        <ul>
        <!-- Renders the li.html content view for each content/post/*.md -->
			{{ range where .Site.Pages "Section" "post" }}
                {{ .Render "li"}}
            {{ end }}
        </ul>
<br>		
<h3>See also</h3>

<ul>
<li><a href="/cattags/">Categories &amp; Tags &amp; Posts</a><br /></li>
<br /></li>
</ul>
<br>		
<br>		
		</div>		
</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
