<h3>Categories</h3>
<ul>
{{ range $.Site.Taxonomies.categories.Alphabetical }}
{{ if gt .Count 0 }}
  <li>
    <a href="/categories/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
  </li>
{{ end }}
{{end}}
</ul> 
 


