<section>
  <ul>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <li><h2><span style="background:#988146;color:white;"> {{ $taxonomyname }} </span></h2>
        <ul>
          {{ range $key, $value := $taxonomy }}
          <li><h4> {{ $key }} </h4></li>
                <ul>
                {{ range $value.Pages }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</section>

