<section>
<h3>knjka/about</h3>
<ul>    {{ range first 999 (where .Site.Pages "Type" "knjka_about") }}
        <li><a href="{{ .Permalink}}">{{ .Title }}</a> 
        <div class="meta">{{ .Date.Format "Jan 2, 2006" }}</div></li>
    {{ end }}
</ul> 
</section>
