<h3>Tags</h3>
<ul>
{{ range $.Site.Taxonomies.tags.Alphabetical }}
{{ if gt .Count 0 }}
  <li>
    <a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
  </li>
{{ end }}
{{end}}
</ul> 
 


