{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			
	<div class="entry-content">
		<h1 class="entry-title">404</h1>
</div>
<br>
	<div class="entry-content">
Probably, this page was removed. <br><br>

<b>See also:</b><br>
<ul>	
   <li class="page_item"> 
      <a href="https://alekseygodin.gitlab.io/map">Posts</a>
         </li>
   <li class="page_item"> 
      <a href="https://alekseygodin.gitlab.io/page">Pages</a>
         </li>
   <li class="page_item"> 
      <a href="https://alekseygodin.gitlab.io/files">Files</a>
         </li>
            </ul>
<br>		
		</div>		
</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
