{{ partial "header.html" . }}

<div id="main-content" class="main-content">
	<div id="primary" class="content-area">

		<div id="content" class="site-content" role="main">
					<div class="entry-content">
		<p><p><img class="wp-image-2594 size-medium" src="/img/face.jpg" alt="" width="209" height="300"><span style="color:#ffffff;">  </span></p>

<p><br />
<strong>Секретная книжка — это не секретная книжка.</strong><br />
<span style="padding-left:210px;font-size:90%;"><a href="/knjka/"><cite>— секретная книжка</cite></a></span></p><br />
<hr></p>

	</div>

		<div class="entry-content">

<h3>Recently</h3>
        <ul>
        <!-- Renders the li.html content view for each content/post/*.md -->
          {{ range .Site.Taxonomies.categories.posts }}
                {{ .Render "li"}}
            {{ end }}
        </ul>
<p>&nbsp;</p>

<hr>

<h3>Quick links</h3>
<ul>
<li><a href="/about/">about</a></li>
<li><a href="/files/">files</a></li>
<li><a href="/rss/">rss, subscriptions etc.</a></li>
</ul>
<br>
<hr />
<br>
<br>
{{ partial "social.html" . }}
&nbsp;<br>
&nbsp;<br>
&nbsp;<br>		
		</div><!-- #content -->
	</div><!-- #primary -->		
		</div><!-- #content -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}



