<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}

		<div class="entry-meta">
			<span class="cat-links">
                {{ range .Params.categories }}
                <a href="{{ $baseurl }}categories/{{ lower . | urlize }}" rel="category">{{ . }}</a>&nbsp; &nbsp; 
                {{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title }}</h1>

		<div class="entry-meta">
			<span class="entry-date">
				<a href="{{ .Permalink }}" rel="bookmark">
					<time class="entry-date" datetime="{{ .Date }}">
						{{ .Date.Format "January 2, 2006" }}
					</time>
				</a>
			</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://translate.google.com/translate?js=n&sl=ru&tl=en&u={{ .Permalink }}" rel="bookmark">translate</a>
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ .Summary }}
      </div>
    {{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div class="entry-meta">
        <h7><a href="{{ .RelPermalink }}">Read More…</a></h7><br><br>
      {{ end }}
	</div><!-- .entry-content -->
	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                <a href="{{ $baseurl}}tags/{{ lower . | urlize }}" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->
