<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode}}{{ . }}{{ else }}en-US{{end}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ if .IsPage }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
    
    <link href="{{ .Site.BaseURL }}/categories/posts/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel='stylesheet' id='genericons-css' href='{{ .Site.BaseURL }}/genericons/genericons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='twentyfourteen-style-css' href='{{ .Site.BaseURL }}/css/style.css' type='text/css' media='all' />
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery.js'></script>
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery-migrate.min.js'></script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body class="home blog masthead-fixed list-view full-width grid">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<h1 class="site-title"><a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title }}</a></h1>

			<div class="search-toggle">
				<a href="#search-container" class="screen-reader-text">Search</a>
			</div>

			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<button class="menu-toggle">Primary Menu</button>
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				<div class="nav-menu">
					<ul>
						{{ range .Site.Menus.main }}
						<li class="page_item"> 
							<a href="{{ .URL }}">{{ .Name }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</nav>
		</div>

		<div id="search-container" class="search-box-wrapper hide">
			<div class="search-box">
                {{ partial "searchform.html" . }}
			</div>
		</div>
	</header><!-- #masthead -->

	<div id="main" class="site-main">
