<div id="secondary">

	{{ if isset .Site.Params "Description" }} 
		{{ with .Site.Params.Description }}<h2 class="site-description">{{ . }}</h2>{{ end }}
	{{ end }}

	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">
<br><br><br>
<aside id="LINKS" class="widget widget_recent_entries">
<h1 class="widget-title"> </h1>
	<ul>
			<li>
				<span style="text-transform:uppercase;font-weight:500;font-size:10px;"><a href="{{ .Site.BaseURL }}">home</a></span>
			</li>
			<li>
				<span style="text-transform:uppercase;font-weight:500;font-size:10px;"><a href="/knjka">секретная книжка</a></span>
			</li>
			<li>
				<span style="text-transform:uppercase;font-weight:500;font-size:10px;"><a href="/openuniverse">open universe gpl</a></span>
			</li>
			<li>
				<span style="text-transform:uppercase;font-weight:500;font-size:10px;"><a href="/pi">π</span></a>
			</li>
		</ul>
</aside><br>

	</div>

</div><!-- #secondary -->
